html {
  box-sizing: border-box;
}
*, 
*::before, 
*::after { 
  box-sizing: inherit;
}
:root {
  font-size: 62.5%;
}
body {
  padding: 50px;
  text-align: left;
  font: 20px "Copperplate", "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: aliceblue;

}

a {
  color: #00B7FF;
  margin: 25px;
  padding: 25px;
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}

.delete-form button {
  color: rgb(9, 9, 226);
  background-color: white;
  padding: 10px;
  margin: 10px; 
  border-radius: 15px;
}
.delete-form button:hover{
  color: white;
  background-color: rgb(9, 9, 226);
}

li {
  list-style: none;
}

#submitBtn {
  background-color: rgb(129, 129, 248);
  border-color: rgb(22, 22, 22);
}

#submitBtn:hover {
  background-color: rgb(178, 178, 247);
  border-color: rgb(187, 177, 177);
}

#eachSkill {
  background-color: #d6f1fc;
  border: 2px solid black;
  border-radius: 25px;
  padding: 25px;
  margin: 10px;
}

#header {
  color: blue;
}