body {
  padding: 50px;
  text-align: center;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(189, 182, 182);
  /* background-image: url(); */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  /* background-size: contain; */
}

a {
  color: #274855;
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}

.delete-form button {
  color: blue;
}

li {
  list-style: none;
}